

.full-body {
    
    background-image: url("4website buttons/background8.jpg");
    background-position: center;
    background-size: cover;
    font-size: clamp(7px, 1vw, 150px);
    
}

.main-header {
    font-size: clamp(7px, 1vw, 150px);
    width: 100%;
    background-image: url("4website buttons/background7.jpg");
    background-size: fill;
   
  
    padding-bottom: 0px
    
}
headerHorizontalLine {
    color: black
}
.chatbullshitatthetop {
    padding-left: 3px;
    width: 50%
}
.callus {
    padding-left: 5px;
}
.container {
    display: grid;
    grid-gap: 1em;
    width: fill;
}
.annboard {
    
}

.table {
    width: 100%;
   
   

}
.tr {
    width: 100%
    
}
@media all and (max-width: 500px) {
    .tr {
        display: block;
    }
}
    



.leftcolumn {
    width: 70%;
    padding-top: -50px;
    padding-left: 10px;
    font-weight: normal;
    border: 1px;


}

.rightcolumn {
   padding-top: -100px;
    padding-right: 20px;
    padding-left: 10px;
    max-width: 10%;
    width: 10%;
    border: 1px;
    
    
}
.rightcolumndiv {
    background-image: url("4website buttons/lok2.png");
    background-blend-mode: luminosity;
    background-color: rgba(0, 0, 0, .5);
    background-size: fill;
    background-position: center;
    background-clip: border-box;
}
.table2 {
    width: 100%;
   
   

}
/*responsive*/
.cboxcolumn {
    width: 90%;
    padding-top: -50px;
    left: auto;
}


.monthlyrecap {
    
    width: 70%;
    padding-left: 5em;
   
}
video {
    width: 100%;
}
.cbox {
    width: 40%;
    padding-left: 5em;
}

    

/* top modal1 thing is css for the button */
.modal1 {
    width: 20%;
    height: auto;
    
    
    

}
.modaltext {
    font-size: clamp(2 px, 1vw, 10px); 
}
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    z-index: 10;
    background-image: url("4website buttons/background8.jpg");
    background-size: 100%;
    background-position-y: 2000em;
    width: 500px; 
    max-width: 80%;
    font-size: clamp(10px, 1vw, 150px);
    
}
.modal.active {
    transform: translate(-50%, -50%) scale(1);
}


.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: clamp(10px, 1vw, 150px);

}
.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
    font-size: clamp(10px, 1vw, 150px);
}
.modal-header .close-button {
    cursor: pointer;

}
.modal-body {
    padding: 5px;
}
#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}
.allthesocials {
    
}
   

   
