
@font-face {
    font-family: 'Consolas';
    src: url("4website buttons/Consolas.ttf");
}

h1 {
    font-family: 'Consolas';
}
h2 {
    font-family: 'Consolas';
    font-size: xx-large;
}
h3 {
    font-family: 'Consolas';
    font-size: large;
}
h4 {
    font-family: 'Consolas';
}
h5 {
    font-family: 'Consolas';
}
h6 {
    font-family: 'Consolas';
}


    

.full-body {
    
    background-image: url("4website buttons/background11.jpg");
    background-position: center;
    background-size: cover;
    font-size: clamp(7px, 1vw, 150px);
    font-family: 'Consolas';
    
}
.mainlogo {
    width: 12%;
    opacity: .7;
    
}
.logo {
   
    padding-left: 44%;
    opacity: .65;
}
.main-header {
    padding-top: 3px;
    padding-left: 1px;
    font-size: clamp(7px, 1vw, 150px);
    width: 100%;
    background-image: url("4website buttons/background11.jpg");
    background-size: cover;
    background-position: unset;
   
  
    padding-bottom: 0px
    
}
.date {
    padding-left: 5em;
    width: 20%;
}
.datetime {
    font-size: clamp(7px, 1vw, 150px);
    width: 20%;
}
.socials {
    width: 100%;
    font-size: clamp(7px, 1vw, 150px);
    

}
headerHorizontalLine {
    color: black;
    outline-width: 1px;
    
}
.saywhatizupp {
padding-right: 70%;
font-size: clamp(7px, 1vw, 150px);
    


}
.chatbullshitatthetop {
    padding-left: 3px;
    width: 50%
}
.callus {
    padding-left: 5px;
}
.container {
    display: grid;
    grid-gap: 1em;
    width: fill;
}
.annboard {
    
}

.table {
    width: 100%;
   
   

}
.tr {
    width: 100%
    
}
.recapheader {
    width: 100%;
    font-size: clamp(22px, 4vw, 1800px);
}

.scyoutube {
    width: 100%;
    font-size: clamp(17px, 3vw, 1800px);
}

.videocolumn {
    width: 50%;
   
    padding-left: 1em;
    padding-bottom: 150em;
    
}

.monthlyrecap {
    outline-style: double;
    outline-width: thick;
   
    width: 70%;
    height: 25em;

    
   
}
.recapdescription {
    width: 70%;
    font-size: clamp(7px, 1vw, 150px);
}

.leftcolumn {
    position: center;
    width: 20%;
    
    border: 2em;
   
    font-weight: normal;
    border: 1px;
    padding-bottom: 138em;
}




.anncolumn {
  
    
    
    max-width: 70%;
    width: 70%;
    border: 1px;
    position: center;
    
    
}
.superimportant {
    font-size: clamp(12px, 2vw, 1800px);
}
.ANNOUNCEMENTSSS {
    width: 100%;
    font-size: clamp(22px, 7vw, 1800px);
}
.rightcolumndiv {
    background-image: url("4website buttons/background10.png");
    background-blend-mode: luminosity;
    background-color: rgba(0, 0, 0, .5);
    background-size: fill;
    background-position: center;
    background-clip: border-box;
}





video {
    width: 100%;
}
.cbox {
    width: 40%;
    padding-left: 5em;
}

    

/* top modal1 thing is css for the button */
.modal1 {
    
    width: 100%;
    max-width: 200px;
    height: auto;
    
    
    

}
.modaltext {
    font-size: clamp(2 px, 1vw, 10px); 
}
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    z-index: 10;
    background-image: url("4website buttons/background8.jpg");
    background-size: 100%;
    background-position: center;
    width: 500px; 
    max-width: 80%;
    font-size: clamp(10px, 1vw, 150px);
    
}
.modal.active {
    transform: translate(-50%, -50%) scale(1);
}


.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: clamp(10px, 1vw, 150px);

}
.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
    font-size: clamp(10px, 1vw, 150px);
}
.modal-header .close-button {
    cursor: pointer;

}
.modal-body {
    padding: 5px;
}
#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}



.image-grid {
    
    width: 120%;
    
    --num-cols: 3;
    --row-height: 200px;

    box-sizing: border-box;
    

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);



}

.image-grid > img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

@media screen and (max-width: 1024px) {
    .image-grid {
        --num-cols: 3;
        --row-height: 50px;
    }
}
